/*Home*/
body {
    font-family: 'Poppins';
   background-color:#2A2F4F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:10px;
   color:aliceblue;
}

p {
    font-size: large;
    font-weight: bold;
}

.home-img {
    float:right;
    width:30%;
    height:30%;
   
    border-radius: 10%;

}
button{
    width:fill;
    height:fill;
}
a {
    text-decoration: none;
    color:aliceblue;
    font-size: large;
    font-weight: bolder;
    margin-right: 5%;
}
.what{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

 .offer{
    padding-right:10%;
    padding-left: 5%;
    font-size:80%;
 }

 .offering{
    padding-right:5%;
    padding-left: 5%;
    font-size: 50%;
    display:flex
 }



 /*Skills*/
    .img1{
        border-radius: 50%;
    }
    .img2{
        border-radius: 20%;
    }
    .head1{
        float:left;
    }
    .lang1{
        float: left;
    }
    .head2{
        float:right;
    }
    .lang2{
        float: right;
    }
/*Projects*/
.level{
    display:flex;
   margin-bottom: 10%;
    margin-right:34px;
    margin-left: 20px;
    position: relative;
    margin-top: 30px;
    border-radius: 30%;
    border:20px;
}


/*Contact Me*/
.align{
    float: left;
 }
 .contact{
     text-align: right;
     float:right;
     width: 30%;
     margin-right: 29px;
     border-radius: 10%;
     height: 30%;
 }
 .greet{
     font-size:large;
 }
 .contactme{
     font-size:medium;
 }
 .contact-me{
    display: inline;
 }
 .about{
    float: right;
    width:20%;
    border-radius: 10%;
    height: 20%;
    margin-bottom: 10px;
    margin-right: 10%;
 }