body {
    font-family: 'Poppins';

}

p {
    font-size: large;
    font-weight: bold;
}

.home-img {
    float: right;
    width: 50%;
    height: 50%;
}

a {
    text-decoration: none;

}

.front-end {
    float: left;
    width: 40%;
    height: 40%;
}

.back-end {
    float: right;
    width: 40%;
    height: 40%;
    display: flex;
}

.front-lang {
    float: left;
    
}

.back-lang {
    float: right;
}
.what{
    text-align: center;
}
button{
    align-items: center;
}
.align{
    float: left;
 }
 .contact{
     text-align: right;
     float:right;
     width: 40%;
     height: 40%;
 }
 .greet{
     font-size:medium
 }
 .contactme{
     font-size:small
 }