/*Home*/
body {
    font-family: 'Poppins';
   background-color:#2A2F4F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:10px;
   color:aliceblue;
}

p {
    font-size: large;
    font-weight: bold;
}

.home-img {
    float:right;
    width:30%;
    height:30%;
   
    border-radius: 10%;

}
button{
    width:fill;
    height:fill;
}
a {
    text-decoration: none;
    color:aliceblue;
    font-size: large;
    font-weight: bolder;
    margin-right: 5%;
}
.what{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

 .offer{
    padding-right:10%;
    padding-left: 5%;
    font-size:80%;
 }

 .offering{
    padding-right:5%;
    padding-left: 5%;
    font-size: 50%;
    display:flex
 }



 /*Skills*/
 .body2{
    margin:10px;
 }
 .image{
    display:flex;
 }
.image1{
    padding-right: 20%;
}
.image2{
    padding-left:20%;
    padding-right: 2%;
}
.lang{
    display: flex;
}
.lang1{
    padding: 5%;
}
.lang2{
    padding-left:80%;
}

/*Projects*/
.level{
    display:flex;
   margin-bottom: 10%;
    margin-right:34px;
    margin-left: 20px;
    position: relative;
    margin-top: 30px;
    border-radius: 30%;
    border:20px;
}


/*Contact Me*/
.align{
    float: left;
 }
 .contact{
     text-align: right;
     float:right;
     width: 40%;
     height: 40%;
 }
 .greet{
     font-size:medium
 }
 .contactme{
     font-size:small;
 }
 .about{
    float: right;
    width:20%;
    border-radius: 10%;
    height: 20%;
    margin-bottom: 10px;
    margin-right: 10%;
 }